{% extends "encyclopedia/layout.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block body %}
<div>
    {{ content|safe }}
</div>
<br>
<a href="{% url 'index' %}" class="btn btn-secondary">Back</a>
<a href="{% url 'edit_entry' title %}" class="btn btn-warning">Edit</a>
<br><br><br>
<!-- Delete button -->
<form action="{% url 'delete_entry' title %}" method="post" style="display:inline;">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger"
        onclick="return confirm('Are you sure you want to delete this entry?');">Delete</button>
</form>

{% endblock %}